<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Night Sights Coffee Roasters</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/heroic-features.css" rel="stylesheet">

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="">Night Sights Coffee Roasters</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">
                            Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Cart">Cart</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Story">Our Story</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Contact">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Checkout -->
    <header class="jumbotron  my-4">
        <h1 class="display-3" p style="text-align:center"><strong>Your Cart</strong></h1>
    </header>

    <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
            <img class="card-img-top" src="//cdn.shopify.com/s/files/1/2220/0129/products/ceremony-product-antithesis-2_480x480.jpg?v=1563299278" alt="">
            <div class="card-body">
                <h4 class="card-title">Single Origin Brazil</h4>
                <p class="card-text">Qty: 1</p>
                <p class="card-text">Price: $15.99</p>
                <p class="card-text">Total: $15.99</p>
            </div>
            <div class="card-footer">
                <a href="Cart" class="btn btn-primary">Purchase</a>
            </div>
        </div>
    </div>
</body>