<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Night Sights Coffee Roasters</title>
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/heroic-features.css" rel="stylesheet">


</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/">Night Sights Coffee Roasters</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">
                            Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Cart">Cart</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Story">Our Story</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Contact">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron-fluid  my-4">
            <h1 class="display-3" p style="text-align:center"><strong>Night Sights Coffee Roasters</strong></h1>
            <p class="lead" style="text-align:center"><em>Night Sights Coffee Roasters is a Veteran owned and operated coffee roasting company located in La Jolla, California. We provide only fair-trade organic coffee beans that are sourced from small lot growers.</em></p>
        </header>

        <div>
            <img class="img mb-4" width="100%" src="images/6.jpg" alt="">
        </div>

        <!-- Page Features -->
        <div class="row text-center">
            <!-- Single Origin Brazil-->
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="//cdn.shopify.com/s/files/1/2220/0129/products/ceremony-product-antithesis-2_480x480.jpg?v=1563299278" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Single Origin Brazil</h4>
                        <p class="card-text">Our true dark roast - simply intense. Intentionally pushed to the brink of bittersweet, it is the essential dark roast.</p>
                        <p class="card-text">Tasting Notes: Dark Chocolate, Molasses, Creamy.</p>
                    </div>
                    <div class="card-footer">
                        <a href="Cart" class="btn btn-primary">Add to Cart</a>
                    </div>
                </div>
            </div>
            <!-- Single Origin Ethiopia-->
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="//cdn.shopify.com/s/files/1/2220/0129/products/rwandahumure1_f75d50bf-8bfc-4ae3-b392-c2129bf77f8a_480x480.jpg?v=1598032864" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Single Origin Ethiopia</h4>
                        <p class="card-text">Refreshing mix of berries and citrus to liven your morning. Just the right amount of sweet. Robost and Full Bodied exactly what the doctor ordered.</p>
                        <p class="card-text">Tasting Notes: Fresh Blueberries, Lime Zest, Floral.</p>
                    </div>
                    <div class="card-footer">
                        <a href="Cart" class="btn btn-primary">Add to Cart</a>
                    </div>
                </div>
            </div>
            <!-- Single Origin Colombia-->
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="//cdn.shopify.com/s/files/1/2220/0129/products/ceremony-product-brownie_480x480.jpg?v=1564078471" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Single Origin Colombia</h4>
                        <p class="card-text">The coffee lovers roast for all occasions. This is the roast you choose for the daily grind, best brewed as a pour over or as a French Press.</p>
                        <p class="card-text">Tasting Notes: Rich, Sweet Cherry, Chocolate Candy Bar.</p>
                    </div>
                    <div class="card-footer">
                        <a href="Cart" class="btn btn-primary">Add to Cart</a>
                    </div>
                </div>
            </div>
            <!-- Single Origin Vietnam-->
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="//cdn.shopify.com/s/files/1/2220/0129/products/hondurasperdomo-hero_480x480.jpg?v=1596201828" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Single Origin Vietnam</h4>
                        <p class="card-text">The intense bitter flavor associated with all single orgin beans from Vietnam. Notes of dried fruit and baked goods.</p>
                        <p class="card-text">Tasting Notes: Cinniamon Sugar, Fig, Bitter Bite.</p>
                    </div>
                    <div class="card-footer">
                        <a href="Cart" class="btn btn-primary">Add to Cart</a>
                    </div>
                </div>
            </div>
            <!-- Single Origin Kona-->
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="//cdn.shopify.com/s/files/1/2220/0129/products/ceremony-product-thesis-2_480x480.jpg?v=1563299621" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Single Origin Kona</h4>
                        <p class="card-text">A single orgin that tastes like soaking in the rays on the beach in kona. A perfect vacation day at home when you wish you were far away at the beach.</p>
                        <p class="card-text">Tasting Notes: Honey, Brown Sugar, Sweet.</p>
                    </div>
                    <div class="card-footer">
                        <a href="Cart" class="btn btn-primary">Add to Cart</a>
                    </div>
                </div>
            </div>
            <!-- Colombia + Brazil Blend-->
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="//cdn.shopify.com/s/files/1/2220/0129/products/ceremony-product-mass-appeal-2_480x480.jpg?v=1563299692" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Colombia + Brazil Blend</h4>
                        <p class="card-text">A sweet tooth's dream blend. A rich, sweet blend on a mission to convert the masses to the perfect blend of brown sugar goodness with a smooth finish.</p>
                        <p class="card-text">Tasting Notes: Milk Chocolate, Sugar Cookie, Creamy.</p>
                    </div>
                    <div class="card-footer">
                        <a href="Cart" class="btn btn-primary">Add to Cart</a>
                    </div>
                </div>
            </div>
            <!-- Ethiopia + Colombia Blend-->
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="//cdn.shopify.com/s/files/1/2220/0129/products/Eth-Laayyoo-Hero_480x480.jpg?v=1596201600" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Colombia + Ethiopia Blend</h4>
                        <p class="card-text">A Dazzling cup full of tropical fruit flavors. This is the roast flavor mainly comes from the laayyoo indigenious tree in ethipoia which grows thorughout the area in Uraga.</p>
                        <p class="card-text">Tasting Notes: Guava, Blood Orange, Sparkling.</p>
                    </div>
                    <div class="card-footer">
                        <a href="Cart" class="btn btn-primary">Add to Cart</a>
                    </div>
                </div>
            </div>
            <!-- Colombia + Guatemala Blend-->
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="//cdn.shopify.com/s/files/1/2220/0129/products/ceremony-product-synthesis-2_480x480.jpg?v=1563299517" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Colombia + Guatemala Blend</h4>
                        <p class="card-text">The early stages of dark and roasty, but just shy of a truly dark roast. This roast sits just shy of bittersweet and has the perfect balance of sweet and smokey flavors.</p>
                        <p class="card-text">Tasting Notes: Dried Cherry, Caramel, Smooth.</p>
                    </div>
                    <div class="card-footer">
                        <a href="Cart" class="btn btn-primary">Add to Cart</a>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.row -->
        <div>
            <img class="img-responsive mb-4" width="100%" src="images/12.jpg" alt="">
        </div>

    </div>
    <!-- /.container -->
    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Night Sights Coffee Roasters 2020</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
