@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<html>
<!-- Jumbotron Header -->
<header class="jumbotron  my-4">
    <h1 class="display-3" p style="text-align:center"><strong>Privacy</strong></h1>
    <p class="lead" style="text-align:center"><em>This is a project and is not intended for you to actually input your personal information, this means that there is no guarantee your personal information will be kept safe.</em></p>
</header>
<div>
    <img class="img-responsive mt-4" width="100%" src="/lib/images/Privacy.jpg" alt="">
</div>

</html>